.authList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.authLogin {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}

.authRegister {
  padding: 14px 39px;
  border: none;
  border-radius: 12px;
  background-color: #121417;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
}
